.product-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
  }
  
  .product-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.064);
  }
  
  .product-image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    background-color: #f5f5f5;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .heart-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    min-width: 44px;
    min-height: 44px;
  }
  
  .badges-container {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    width: 90%;
    justify-content: center;
  }
  
  .badge {
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: white;
  }
  
  .badge-new {
    background-color: #7ccdf4;
  }
  
  .badge-reserved {
    background-color: #f3d9a2;
    color: #8a6d3b;
  }
  
  .product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .product-title {
    font-size: 15px;
    color: #666;
    margin: 0 0 15px 0;
    line-height: 1.4;
    font-weight: 500;
    height: 42px;
    overflow: hidden;
  }
  
  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: 700;
    color: #333;
  }
  
  .cart-button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    padding: 5px;
    transition: color 0.2s;
    padding: 10px;
    min-width: 44px;
    min-height: 44px;
  }
  
  .cart-button:hover {
    color: #e56b6f;
  }

  .cart-button.added{
    color: #e56b6f;
    cursor: default;
  }

  .added-text{
    font-size: 13px;
    font-weight: 600;
  }

  .product-main-link{
    text-decoration: none;
  }