.category-nav{
    background-color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.category-container{
    display: flex;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    overflow: hidden;
}
.category-item{
    padding: 10px 30px;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    border-right: 1px solid #e0e0e0; /*разделитель*/
}
.category-item:last-child{
    border-right: none;
}
.category-item.active{
    background-color: #fff;
    font-weight: bold;
    text-decoration: underline;
}