.sidebar {
    width: 260px;
    padding: 20px 20px 20px 0px;
    min-height: calc(100vh - 160px);
  }
  
  .sidebar-header {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item-main{
    border-bottom: 1px solid #e0e0e0;
  }

  .sidebar-item-main:last-child{
    border-bottom: none;
  }

  .sidebar-item-main>.sidebar-title-container{
    padding: 12px 0px;
  }

  .sidebar-item-main .sidebar-title{
    font-weight: 700;
    color: #333;
    font-size: 18px;
  }

  .sidebar-item-sub .sidebar-title-container {
    margin-bottom: 5px;
    padding: 6px 0px 6px 20px;
  }

  .sidebar-item-sub .sidebar-title{
    font-weight: 400;
    color: #666;
    font-size: 18px;
  }

  .sidebar-item-sub:last-child{
    border-bottom: none !important;
  }

  .sidebar-list-nested .sidebar-title {
    padding-left: 10px; 
  }
  
  .sidebar-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .chevron {
    transition: transform 0.3s ease;
    color: #333;
  }
  
  .chevron.open {
    transform: rotate(180deg);
  }