* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    background-color: #fff;
  }
  
  h1, h2, h3, h4 {
    font-weight: 700;
  }
  
  button, input, select, textarea {
    font-family: inherit;
  }